body {
  font-family:monospace;
}
h1 {
  color:#FF6666;
  font-size:70px;
  font-family:monospace;
  text-align:center;
}
h3 {
  text-align:center;
}
a {
  font-size:25px;
  text-align:center;
}
#fuckyou {
  font-size:1px;
  
}
#fuckyou:hover {
  position: relative;
  
}